## importing labraries

In [1]:
import pandas as pd
import numpy as np

## Load the datasets

In [13]:
data = pd.read_csv("Datasets/Iris_data_sample.csv", index_col = 0, na_values = ["??", "###"] )

## Display the dataset

In [14]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1            5.1           3.5            1.4           0.2  Iris-setosa
2            4.9           NaN            1.4           0.2          NaN
3            4.7           3.2            1.3           0.2  Iris-setosa
4            NaN           3.1            1.5           0.2  Iris-setosa
5            5.0           3.6            NaN           0.2  Iris-setosa

In [15]:
data.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

## Create a copy of the datasets

In [16]:
df = data.copy(deep = True)

## Understanding the datasets

In [17]:
df.shape

(150, 5)

In [18]:
df.size

750

In [19]:
df.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150],
      dtype='int64', length=150)

In [20]:
df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

## Exploratory data analysis

In [21]:
df.nunique()

SepalLengthCm    35
SepalWidthCm     23
PetalLengthCm    43
PetalWidthCm     22
Species           3
dtype: int64

In [22]:
## checking the summary of the datasets
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  149 non-null    float64
 1   SepalWidthCm   149 non-null    float64
 2   PetalLengthCm  148 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        149 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [23]:
## check the number of unique values in species column
print(np.unique(df['Species']))

TypeError: '<' not supported between instances of 'float' and 'str'